{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
{% include 'account/form_errors.html'  %}

<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="text-start mb-4 fw-bolder">
                Reset your password
            </h1>
            {% if validlink %}
                <p>Please enter your new password twice:</p>
                <form  method="post" class="row g-3 needs-validation" novalidate>
                    <div class="col-12 col-lg-8">
                        <label for="id_new_password1" class="form-label">New password</label>
                        
                        <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control rounded-0">
                        <div class="invalid-feedback">
                            Please enter a valid password.
                        </div>

                        <small class="text-muted">
                            <ul class="my-4"><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
                        </small>
                    </div>

                    <div class="col-12 col-lg-8">
                        <label for="id_new_password2" class="form-label">New password confirmation</label>
                        
                        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control rounded-0">
                        <div class="invalid-feedback">
                            Please enter a valid password.
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="col-12 col-lg-8">
                        <input type="submit" value="Change my password" class="btn btn-success rounded-0 text-uppercase p-2">
                    </div>
                    </form>
            {% else %}
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
{% endblock extra_js %}